Trends from Analysis
-------------------------------
1. Small and medium schools noticably outpreformed large schools in math and reading; on average small and medium schools had at least 10% more students passing math, reading or both. Small & medium schools scored around 93.5% for percentage of students passing math, while large schools were only at 69.9%. Similarly, small & medium schools had approximately 96.3% of their students passing reading, and large schools only had about 82% of their students passing reading. When we consider both percentages is where we can easily see the noticable difference; when percentage of students passing both math and reading are considered smaller and medium schools significantly outpreform larger schools. Small and medium schools clock in around 90% for students passing math and reading whereas larger schools only have about 58% of their students passing both. This suggests that smaller and medium schools may be able to work more closely with their students as the teacher:student ratio is lower, and this in turn may produce better scores. There is much else to be analyzed before this can be definitively declared. Smaller schools might potentially have more money to spend per student, so rather than a teacher:student ratio, it could in fact be due to a money:student ratio. 

2. The average math score and the average reading scores tend to decrease as more money is spent on students individually. When the least amount of money is spent per student, less than 585, the average math score across schools is at its highest, about 83.4. The average math score is at its lowest (69.9%) when the most amount of money (645-680) is spent per student. The same trend can be observed in the average reading score. When less than 585 is spent per student the average reading score is 83.9, but drops to 81.0 when spending is between 645-680. This suggests that there is more to student success (i.e. math and reading scores) than just the amount of money spent per student. More evidence will need to be examined before this is proved conclusively. For example, do schools with less money have to rely more on study groups than practice booklets? Could this play a significant role in test scores as the learning culture might be more interactive and more of a community event?  

3. By looking at the tables depicting the highest performing and lowest performing schools based on percentage of students passing both math and reading, it is obvious charter schools outpreform district schools. The top eight schools in the district are charter schools, with district schools only ranking on the highest performing school table at the eight spot. District schools make up the seven lowest performing schools. This could be due to several factors; charter schools often serve middle to upper-middle class neighborhoods, whereas district schools often do not have the same socioeconomic benefits. Charter schools, on average, offer better pay & benefits to their instructors whereas district instructors are often financed by taxes/federal government; so it is possible for charter schools to obtain higher-quality instructors than their district counterparts based on pay offered alone.

In [2]:
#Import dependencies  
import pandas as pd
import numpy as np

In [3]:
# Establish 
school_data_to_load = "C:/Users/tsswi/OneDrive/Desktop/DU_Classwork/Module_4_Pandas/Mod_4_Assignment/Starter_Code/PyCitySchools/Resources/schools_complete.csv"
student_data_to_load = "C:/Users/tsswi/OneDrive/Desktop/DU_Classwork/Module_4_Pandas/Mod_4_Assignment/Starter_Code/PyCitySchools/Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head(10)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
7,7,Nicole Baker,F,12th,Huang High School,96,69,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635

DISTRICT SUMMARY
------------------------------

In [4]:
# Calculate the total number of unique schools 
school_count = school_data_complete["school_name"].nunique()
school_count

15

In [5]:
# Calculate the total number of students 
student_count = school_data_complete["student_name"].value_counts().sum()
student_count

39170

In [6]:
# Visualize each school and their individual budget
school_budgets = school_data.set_index(["school_name"])["budget"]
school_budgets

school_name
Huang High School        1910635
Figueroa High School     1884411
Shelton High School      1056600
Hernandez High School    3022020
Griffin High School       917500
Wilson High School       1319574
Cabrera High School      1081356
Bailey High School       3124928
Holden High School        248087
Pena High School          585858
Wright High School       1049400
Rodriguez High School    2547363
Johnson High School      3094650
Ford High School         1763916
Thomas High School       1043130
Name: budget, dtype: int64

In [7]:
#Calculate the total budget 
total_budget = school_budgets.sum()
total_budget

24649428

In [8]:
# Calculate the average (mean) math score 
average_math_score = (school_data_complete["math_score"].sum()) / student_count 
average_math_score

78.98537145774827

In [9]:
# Calculate the average (mean) reading score 
average_reading_score = (school_data_complete["reading_score"].sum()) / student_count
average_reading_score

81.87784018381414

In [10]:
# Calculate the percentage of students who passed math (math scores greather than or equal to 70) 
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

74.9808526933878

In [11]:
# Calculate the percentage of students who passeed reading (reading scores greater than or equal to 70)  *
passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >=70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100
passing_reading_percentage

85.80546336482001

In [12]:
# Calculate the percentage of students that passed math and reading 
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

65.17232575950983

In [13]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary = pd.DataFrame({"Total Number of Unique Schools": [school_count],
                                'Total Students': [student_count], "Total Budget": [total_budget],
                                "Average Math Score": [average_math_score], "Average Reading Score": [average_reading_score],
                                "Percentage of Students Passing Math": [passing_math_percentage],
                                "Percentage of Students Passing Reading": [passing_reading_percentage],
                                "Percentage of Students Passing Math & Reading": [overall_passing_rate]})
# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)
district_summary['Average Math Score'] = district_summary['Average Math Score'].map("{:.2f}".format)
district_summary["Average Reading Score"] = district_summary["Average Reading Score"].map("{:.2f}".format)
district_summary["Percentage of Students Passing Math"] = district_summary["Percentage of Students Passing Math"].map("{:.2f}".format)
district_summary["Percentage of Students Passing Reading"] = district_summary["Percentage of Students Passing Reading"].map("{:.2f}".format)
district_summary["Percentage of Students Passing Math & Reading"] = district_summary["Percentage of Students Passing Math & Reading"].map("{:.2f}".format)

# Display the DataFrame
district_summary

,Total Number of Unique Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,Percentage of Students Passing Math,Percentage of Students Passing Reading,Percentage of Students Passing Math & Reading
0,15,"39,170","$24,649,428.00",78.99,81.88,74.98,85.81,65.17

SCHOOL SUMMARY 
-----------------------------

In [14]:
# Store school names in a variable
school_names_rand = school_data_complete["school_name"].unique()
school_names = ['Bailey High School', 'Cabrera High School', 'Figueroa High School', 'Ford High School', 
               'Griffin High School', 'Hernandez High School', 'Holden High School', 'Huang High School',
               'Johnson High School', 'Pena High School', 'Rodriguez High School', 'Shelton High School',
               'Thomas High School', 'Wilson High School', 'Wright High School']
school_names

['Bailey High School',
 'Cabrera High School',
 'Figueroa High School',
 'Ford High School',
 'Griffin High School',
 'Hernandez High School',
 'Holden High School',
 'Huang High School',
 'Johnson High School',
 'Pena High School',
 'Rodriguez High School',
 'Shelton High School',
 'Thomas High School',
 'Wilson High School',
 'Wright High School']

In [15]:
# Use the code provided to select the school type 
school_types = school_data.set_index(["school_name"])["type"]

In [16]:
# Calculate student counts per school using groupby
student_count_per_school = school_data_complete.groupby(["school_name"])['student_name'].count()
student_count_per_school

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: student_name, dtype: int64

In [17]:
# Calculate the total student count using loc method. This method would take too long and would be inefficient 
#Huang_High_count = school_data_complete.loc[school_data_complete["school_name"] == 'Huang High School'].value_counts().sum()

#Figueroa_High_count = school_data_complete.loc[school_data_complete["school_name"] == 'Figueroa High School'].value_counts().sum()

#Shelton_High_count = school_data_complete.loc[school_data_complete["school_name"] == 'Shelton High School'].value_counts().sum()

#Hernandez_High_count = school_data_complete.loc[school_data_complete["school_name"] == 'Hernandez High School'].value_counts().sum()

#Griffin_High_count = school_data_complete.loc[school_data_complete["school_name"] == 'Griffin High School'].value_counts().sum()

#Wilson_High_count = school_data_complete.loc[school_data_complete["school_name"] == 'Wilson High School'].value_counts().sum()

#Cabrera_High_count = school_data_complete.loc[school_data_complete["school_name"] == 'Cabrera High School'].value_counts().sum()

#Bailey_High_count = school_data_complete.loc[school_data_complete["school_name"] == 'Bailey High School'].value_counts().sum()

#Holden_High_count = school_data_complete.loc[school_data_complete["school_name"] == 'Holden High School'].value_counts().sum()

#Pena_High_count = school_data_complete.loc[school_data_complete["school_name"] == 'Pena High School'].value_counts().sum()

#Wright_High_count = school_data_complete.loc[school_data_complete["school_name"] == 'Wright High School'].value_counts().sum()

#Rodriguez_High_count = school_data_complete.loc[school_data_complete["school_name"] == 'Rodriguez High School'].value_counts().sum()

#Johnson_High_count = school_data_complete.loc[school_data_complete["school_name"] == 'Johnson High School'].value_counts().sum()

#Ford_High_count = school_data_complete.loc[school_data_complete["school_name"] == 'Ford High School'].value_counts().sum()

#Thomas_High_count = school_data_complete.loc[school_data_complete["school_name"] == 'Thomas High School'].value_counts().sum()

In [18]:
# Calculate the total school budget 
per_school_budget = school_data_complete.groupby(["school_name"]).mean()["budget"]

In [19]:
# per capita
per_capita = per_school_budget / student_count_per_school

In [20]:
# Calculate the per school average math scores 
per_school_math = school_data_complete.groupby(["school_name"]).mean()["math_score"]

In [21]:
# Calculate the per school average reading scores
per_school_reading = school_data_complete.groupby(["school_name"]).mean()["reading_score"]

In [22]:
# Calculate the NUMBER of schools with math scores of 70 or higher
school_passing_math_num = (school_data_complete.groupby(["school_name"]).mean()["math_score"] >= 70).sum()

In [23]:
# Calculate how many students are passing math with a 70 or higher. Filter OG dataframe to exclude scores < 70
school_passing_math = school_data_complete[school_data_complete["math_score"] >= 70]

In [24]:
# Calculate the NUMBER of schools with reading scores of 70 or higher
school_passing_reading_num = (school_data_complete.groupby(["school_name"]).mean()["reading_score"] >= 70).sum()

In [25]:
# Calculate how many students are passing reading with a 70 or higher. Filter OG dataframe to exclude scores < 70
school_passing_reading = school_data_complete[school_data_complete["reading_score"] >= 70]

In [26]:
# Use the provided code to calculate the schools that passed both math and reading with scores of 70 or higher
# Filter OG Dataframe to exclude reading and math scores less than 70
passing_math_and_reading = school_data_complete[
    (school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)]

In [27]:
# Use the provided code to calculate the passing rates for math per high school
per_school_passing_math = school_passing_math.groupby(["school_name"])['student_name'].count() / student_count_per_school * 100

In [28]:
# Use the provided code to calcuate the passing rates for reading per high school
per_school_passing_reading = school_passing_reading.groupby(["school_name"]).count()["student_name"] / student_count_per_school * 100

In [29]:
# Use the provided code to calculate the passing rates for math and reading per high school
overall_passing_rate = passing_math_and_reading.groupby(["school_name"]).count()["student_name"] / student_count_per_school * 100

In [30]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
per_school_summary = pd.DataFrame({'School Names': school_names, 'School Types': school_types, "Total Students": student_count_per_school,
                                  "Total School Budget": per_school_budget, "Per Student Budget": per_capita, "Average Math Score per School": per_school_math,
                                  "Average Reading Score per School": per_school_reading, 
                                   "Percentage of Students Passing Math per School": per_school_passing_math,
                                  "Percentage of Students Passing Reading per School": per_school_passing_reading,
                                  "Percentage of Students Overall Passing per School": overall_passing_rate})

# Formatting. I chose to shorten all floats to two decimal places as it is easier to read and understand. 
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)
per_school_summary["Average Math Score per School"] = per_school_summary["Average Math Score per School"].map("{:.2f}".format)
per_school_summary["Average Reading Score per School"] = per_school_summary["Average Reading Score per School"].map("{:.2f}".format)
per_school_summary["Percentage of Students Passing Math per School"] = per_school_summary["Percentage of Students Passing Math per School"].map("{:.2f}".format)
per_school_summary["Percentage of Students Passing Reading per School"] = per_school_summary["Percentage of Students Passing Reading per School"].map("{:.2f}".format)
per_school_summary["Percentage of Students Overall Passing per School"] = per_school_summary["Percentage of Students Overall Passing per School"].map("{:.2f}".format)

per_school_summary.index.name = None
# Display the DataFrame
per_school_summary

,School Names,School Types,Total Students,Total School Budget,Per Student Budget,Average Math Score per School,Average Reading Score per School,Percentage of Students Passing Math per School,Percentage of Students Passing Reading per School,Percentage of Students Overall Passing per School
Bailey High School,Bailey High School,District,4976,"$3,124,928.00",$628.00,77.05,81.03,66.68,81.93,54.64
Cabrera High School,Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.06,83.98,94.13,97.04,91.33
Figueroa High School,Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.71,81.16,65.99,80.74,53.20
Ford High School,Ford High School,District,2739,"$1,763,916.00",$644.00,77.10,80.75,68.31,79.30,54.29
Griffin High School,Griffin High School,Charter,1468,"$917,500.00",$625.00,83.35,83.82,93.39,97.14,90.60
Hernandez High School,Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.29,80.93,66.75,80.86,53.53
Holden High School,Holden High School,Charter,427,"$248,087.00",$581.00,83.80,83.81,92.51,96.25,89.23
Huang High School,Huang High School,District,2917,"$1,910,635.00",$655.00,76.63,81.18,65.68,81.32,53.51
Johnson High School,Johnson High School,District,4761,"$3,094,650.00",$650.00,77.07,80.97,66.06,81.22,53.54
Pena High School,Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,94.59,95.95,90.54
Rodriguez High School,Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.84,80.74,66.37,80.22,52.99
Shelton High School,Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.36,83.73,93.87,95.85,89.89
Thomas High School,Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.42,83.85,93.27,97.31,90.95
Wilson High School,Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.27,83.99,93.87,96.54,90.58
Wright High School,Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.68,83.95,93.33,96.61,90.33

HIGHEST-PERFORMING SCHOOLS (BY % PASSING OVERALL)
------------------------------------------------------------------------------------------

In [32]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
highest_performing = per_school_summary.sort_values(by=["Percentage of Students Overall Passing per School"],
                                                   ascending = False)


per_school_summary.index.name = None
highest_performing.head()

,School Names,School Types,Total Students,Total School Budget,Per Student Budget,Average Math Score per School,Average Reading Score per School,Percentage of Students Passing Math per School,Percentage of Students Passing Reading per School,Percentage of Students Overall Passing per School
Cabrera High School,Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.06,83.98,94.13,97.04,91.33
Thomas High School,Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.42,83.85,93.27,97.31,90.95
Griffin High School,Griffin High School,Charter,1468,"$917,500.00",$625.00,83.35,83.82,93.39,97.14,90.60
Wilson High School,Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.27,83.99,93.87,96.54,90.58
Pena High School,Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,94.59,95.95,90.54

BOTTOM PERFORMING SCHOOLS (BY % PASSING OVERALL)
-----------------------------------------------------------------------------------------

In [34]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
lowest_performing =  per_school_summary.sort_values(by=["Percentage of Students Overall Passing per School"],
                                                   ascending = True)

lowest_performing.index.name = None
lowest_performing.head()

,School Names,School Types,Total Students,Total School Budget,Per Student Budget,Average Math Score per School,Average Reading Score per School,Percentage of Students Passing Math per School,Percentage of Students Passing Reading per School,Percentage of Students Overall Passing per School
Rodriguez High School,Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.84,80.74,66.37,80.22,52.99
Figueroa High School,Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.71,81.16,65.99,80.74,53.20
Huang High School,Huang High School,District,2917,"$1,910,635.00",$655.00,76.63,81.18,65.68,81.32,53.51
Hernandez High School,Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.29,80.93,66.75,80.86,53.53
Johnson High School,Johnson High School,District,4761,"$3,094,650.00",$650.00,77.07,80.97,66.06,81.22,53.54

MATH SCORES BY GRADE

In [154]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by "school_name" and take the mean of each.
ninth_graders_scores = ninth_graders.groupby(['school_name']).mean()
tenth_graders_scores = tenth_graders.groupby(['school_name']).mean()
eleventh_graders_scores = eleventh_graders.groupby(['school_name']).mean()
twelfth_graders_scores = twelfth_graders.groupby(['school_name']).mean()

# Use the code to select only the `math_score`.
ninth_grade_math_scores = ninth_graders_scores["math_score"]
tenth_grader_math_scores = tenth_graders_scores["math_score"]
eleventh_grader_math_scores = eleventh_graders_scores.mean()["math_score"]
twelfth_grader_math_scores = twelfth_graders_scores["math_score"]

# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
math_scores_by_grade = pd.DataFrame({"9th Grader Math Scores": ninth_grade_math_scores,
                                    "10th Grader Math Scores": tenth_grader_math_scores,
                                    "11th Grader Math Scores": eleventh_grader_math_scores,
                                    "12th Grader Math Scores": twelfth_grader_math_scores})

# Minor data wrangling
math_scores_by_grade.index.name = None

# Formatting - again I chose two decimals for the float so it is easy to read and draw conclusions from. 
math_scores_by_grade["9th Grader Math Scores"] = math_scores_by_grade["9th Grader Math Scores"].map("{:.2f}".format)
math_scores_by_grade["10th Grader Math Scores"] = math_scores_by_grade["10th Grader Math Scores"].map("{:.2f}".format)
math_scores_by_grade["11th Grader Math Scores"] = math_scores_by_grade["11th Grader Math Scores"].map("{:.2f}".format)
math_scores_by_grade["12th Grader Math Scores"] = math_scores_by_grade["12th Grader Math Scores"].map("{:.2f}".format)

# Display the DataFrame
math_scores_by_grade

,9th Grader Math Scores,10th Grader Math Scores,11th Grader Math Scores,12th Grader Math Scores
Bailey High School,77.08,77.00,80.58,76.49
Cabrera High School,83.09,83.15,80.58,83.28
Figueroa High School,76.40,76.54,80.58,77.15
Ford High School,77.36,77.67,80.58,76.18
Griffin High School,82.04,84.23,80.58,83.36
Hernandez High School,77.44,77.34,80.58,77.19
Holden High School,83.79,83.43,80.58,82.86
Huang High School,77.03,75.91,80.58,77.23
Johnson High School,77.19,76.69,80.58,76.86
Pena High School,83.63,83.37,80.58,84.12
Rodriguez High School,76.86,76.61,80.58,77.69
Shelton High School,83.42,82.92,80.58,83.78
Thomas High School,83.59,83.09,80.58,83.50
Wilson High School,83.09,83.72,80.58,83.04
Wright High School,83.26,84.01,80.58,83.64

READING SCORE BY GRADE
------------------------------------------

In [155]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by "school_name" and take the mean of each.
ninth_graders_scores = ninth_graders.groupby(['school_name']).mean()
tenth_graders_scores = tenth_graders.groupby(['school_name']).mean()
eleventh_graders_scores = eleventh_graders.groupby(['school_name']).mean()
twelfth_graders_scores = twelfth_graders.groupby(['school_name']).mean()

# Use the code to select only the `reading_score`.
ninth_grade_reading_scores = ninth_graders_scores["reading_score"]
tenth_grader_reading_scores = tenth_graders_scores["reading_score"]
eleventh_grader_reading_scores = eleventh_graders_scores["reading_score"]
twelfth_grader_reading_scores = twelfth_graders_scores["reading_score"]

# Combine each of the scores above into single DataFrame called `reading_scores_by_grade`
reading_scores_by_grade = pd.DataFrame({"9th Grader Reading Scores": ninth_grade_reading_scores,
                                       "10th Grader Reading Scores": tenth_grader_reading_scores,
                                       "11th Grader Reading Scores": eleventh_grader_reading_scores,
                                       "12th Grader Reading Scores": twelfth_grader_reading_scores})

# Minor data wrangling
reading_scores_by_grade = reading_scores_by_grade[["9th Grader Reading Scores", "10th Grader Reading Scores",
                                                   "11th Grader Reading Scores", "12th Grader Reading Scores"]]
reading_scores_by_grade.index.name = None

# Formatting
reading_scores_by_grade["9th Grader Reading Scores"] = reading_scores_by_grade["9th Grader Reading Scores"].map("{:.2f}".format)
reading_scores_by_grade["10th Grader Reading Scores"] = reading_scores_by_grade["10th Grader Reading Scores"].map("{:.2f}".format)
reading_scores_by_grade["11th Grader Reading Scores"] = reading_scores_by_grade["11th Grader Reading Scores"].map("{:.2f}".format)
reading_scores_by_grade["12th Grader Reading Scores"] = reading_scores_by_grade["12th Grader Reading Scores"].map("{:.2f}".format)

# Display the DataFrame
reading_scores_by_grade

,9th Grader Reading Scores,10th Grader Reading Scores,11th Grader Reading Scores,12th Grader Reading Scores
Bailey High School,81.30,80.91,80.95,80.91
Cabrera High School,83.68,84.25,83.79,84.29
Figueroa High School,81.20,81.41,80.64,81.38
Ford High School,80.63,81.26,80.40,80.66
Griffin High School,83.37,83.71,84.29,84.01
Hernandez High School,80.87,80.66,81.40,80.86
Holden High School,83.68,83.32,83.82,84.70
Huang High School,81.29,81.51,81.42,80.31
Johnson High School,81.26,80.77,80.62,81.23
Pena High School,83.81,83.61,84.34,84.59
Rodriguez High School,80.99,80.63,80.86,80.38
Shelton High School,84.12,83.44,84.37,82.78
Thomas High School,83.73,84.25,83.59,83.83
Wilson High School,83.94,84.02,83.76,84.32
Wright High School,83.83,83.81,84.16,84.07

SCORES BY SCHOOL SPENDING
------------------------------------------------

In [156]:
# Establish the bins 
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [157]:
# Create a copy of the school summary since it has the "Per Student Budget" 
school_spending_df = per_school_summary.copy()

In [158]:
# Use `pd.cut` to categorize spending based on the bins.
spending_per_student = pd.cut(per_capita, bins = spending_bins, labels = labels, right=False)

# Add column to DF
school_spending_df["Spending Ranges (Per Student)"] = spending_per_student

school_spending_df.head()

,School Names,School Types,Total Students,Total School Budget,Per Student Budget,Average Math Score per School,Average Reading Score per School,Percentage of Students Passing Math per School,Percentage of Students Passing Reading per School,Percentage of Students Overall Passing per School,Spending Ranges (Per Student)
Bailey High School,Bailey High School,District,4976,"$3,124,928.00",$628.00,77.05,81.03,66.68,81.93,54.64,$585-630
Cabrera High School,Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.06,83.98,94.13,97.04,91.33,<$585
Figueroa High School,Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.71,81.16,65.99,80.74,53.20,$630-645
Ford High School,Ford High School,District,2739,"$1,763,916.00",$644.00,77.10,80.75,68.31,79.30,54.29,$630-645
Griffin High School,Griffin High School,Charter,1468,"$917,500.00",$625.00,83.35,83.82,93.39,97.14,90.60,$585-630

In [159]:
# Figure out what types of data I'm working with
school_spending_df.dtypes

School Names                                           object
School Types                                           object
Total Students                                          int64
Total School Budget                                    object
Per Student Budget                                     object
Average Math Score per School                          object
Average Reading Score per School                       object
Percentage of Students Passing Math per School         object
Percentage of Students Passing Reading per School      object
Percentage of Students Overall Passing per School      object
Spending Ranges (Per Student)                        category
dtype: object

In [160]:
# Cast objects as floats
school_spending_df["Average Math Score per School"] = school_spending_df["Average Math Score per School"].astype(float)
school_spending_df["Average Reading Score per School"] = school_spending_df["Average Reading Score per School"].astype(float)
school_spending_df["Percentage of Students Passing Math per School"] = school_spending_df["Percentage of Students Passing Math per School"].astype(float)
school_spending_df["Percentage of Students Passing Reading per School"] = school_spending_df["Percentage of Students Passing Reading per School"].astype(float)
school_spending_df["Percentage of Students Overall Passing per School"] = school_spending_df["Percentage of Students Overall Passing per School"].astype(float)

In [161]:
#  Calculate averages for the desired columns. 
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Math Score per School"]
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Reading Score per School"]
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["Percentage of Students Passing Math per School"]
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["Percentage of Students Passing Reading per School"]
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["Percentage of Students Overall Passing per School"]

In [162]:
# Assemble into DataFrame
spending_summary = pd.DataFrame({"Average Math Score": spending_math_scores, "Average Reading Score": spending_reading_scores,
                                "% Passing Math": spending_passing_math, "% Passing Reading": spending_passing_reading,
                                "% Overall Passing": overall_passing_spending})

# Display results
spending_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
<$585,83.452500,83.932500,93.460000,96.610000,90.367500
$585-630,81.900000,83.155000,87.132500,92.717500,81.417500
$630-645,78.517500,81.625000,73.485000,84.392500,62.857500
$645-680,76.996667,81.026667,66.163333,81.133333,53.526667

SCORES BY SCHOOL SIZE
---------------------------------------

In [163]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [164]:
# Categorize the spending based on the bins
# Use `pd.cut` on the "Total Students" column of the `per_school_summary` DataFrame.
scores_per_school = pd.cut(student_count_per_school, bins = size_bins, labels = labels, right=False)
per_school_summary["School Size"] = scores_per_school

In [165]:
# Data types
per_school_summary.dtypes

School Names                                           object
School Types                                           object
Total Students                                          int64
Total School Budget                                    object
Per Student Budget                                     object
Average Math Score per School                          object
Average Reading Score per School                       object
Percentage of Students Passing Math per School         object
Percentage of Students Passing Reading per School      object
Percentage of Students Overall Passing per School      object
School Size                                          category
dtype: object

In [166]:
# Correctly cast data types
per_school_summary["Average Math Score per School"] = per_school_summary["Average Math Score per School"].astype(float)
per_school_summary["Average Reading Score per School"] = per_school_summary["Average Reading Score per School"].astype(float)
per_school_summary["Percentage of Students Passing Math per School"] = per_school_summary["Percentage of Students Passing Math per School"].astype(float)
per_school_summary["Percentage of Students Passing Reading per School"] = per_school_summary["Percentage of Students Passing Reading per School"].astype(float)
per_school_summary["Percentage of Students Overall Passing per School"] = per_school_summary["Percentage of Students Overall Passing per School"].astype(float)

In [167]:
# Calculate averages for the desired columns. 
size_math_scores = per_school_summary.groupby(["School Size"]).mean()["Average Math Score per School"]
size_reading_scores = per_school_summary.groupby(["School Size"]).mean()["Average Reading Score per School"]
size_passing_math = per_school_summary.groupby(["School Size"]).mean()["Percentage of Students Passing Math per School"]
size_passing_reading = per_school_summary.groupby(["School Size"]).mean()["Percentage of Students Passing Reading per School"]
size_overall_passing = per_school_summary.groupby(["School Size"]).mean()["Percentage of Students Overall Passing per School"]

In [168]:
# Create a DataFrame called `size_summary` that breaks down school performance based on school size (small, medium, or large).
# Use the scores above to create a new DataFrame called `size_summary`
size_summary = pd.DataFrame({"Average Math Scores": size_math_scores, "Average Reading Scores": size_reading_scores,
                            "Percentage Passing Math": size_passing_math, "Percentage Passing Reading": size_passing_reading,
                            "Percentage Passing Overall": size_overall_passing})

# Display results
size_summary

,Average Math Scores,Average Reading Scores,Percentage Passing Math,Percentage Passing Reading,Percentage Passing Overall
School Size,,,,,
Small (<1000),83.820,83.92500,93.55000,96.10000,89.885
Medium (1000-2000),83.374,83.86600,93.59800,96.79000,90.620
Large (2000-5000),77.745,81.34375,69.96375,82.76625,58.285

SCORES BY SCHOOL TYPE
----------------------------------------

In [169]:
# Group the per_school_summary DataFrame by "School Type" and average the results.
type_math_scores = per_school_summary.groupby(["School Types"]).mean()["Average Math Score per School"]
type_reading_scores =  per_school_summary.groupby(["School Types"]).mean()["Average Reading Score per School"]
type_passing_math = per_school_summary.groupby(["School Types"]).mean()["Percentage of Students Passing Math per School"]
type_passing_reading = per_school_summary.groupby(["School Types"]).mean()["Percentage of Students Passing Reading per School"]
type_overall_passing = per_school_summary.groupby(["School Types"]).mean()["Percentage of Students Overall Passing per School"]

In [170]:
# Use the code provided to select new column data
average_math_score_by_type = type_math_scores
average_reading_score_by_type = type_reading_scores
average_percent_passing_math_by_type = type_passing_math
average_percent_passing_reading_by_type = type_passing_reading
average_percent_overall_passing_by_type = type_overall_passing

In [171]:
# Assemble the new data by type into a DataFrame called `type_summary`
type_summary = pd.DataFrame({"Average Math Score": average_math_score_by_type, "Average Reading Score": average_reading_score_by_type,
                            "Average % Passing Math": average_percent_passing_math_by_type,
                            "Average % Passing Reading": average_percent_passing_reading_by_type,
                            "Average % Passing Overall": average_percent_overall_passing_by_type})

# Display results
type_summary

,Average Math Score,Average Reading Score,Average % Passing Math,Average % Passing Reading,Average % Passing Overall
School Types,,,,,
Charter,83.472500,83.896250,93.620000,96.586250,90.431250
District,76.955714,80.965714,66.548571,80.798571,53.671429